# CentOS-Base-rbdsr.repo
#
# The mirror system uses the connecting IP address of the client and the
# update status of each mirror to pick mirrors that are updated to and
# geographically close to the client.  You should use this for CentOS updates
# unless you are manually picking other mirrors.
#
# If the mirrorlist= does not work for you, as a fall back you can try the
# remarked out baseurl= line instead.
#
#

[base-rbdsr]
name=CentOS-{{ yum_releasever }} - Base
mirrorlist=http://mirrorlist.centos.org/?release={{ yum_mirror_release }}&arch=$basearch&repo=os&infra=$infra
#baseurl=http://mirror.centos.org/centos/{{ yum_releasever }}/os/$basearch/
enabled=0
exclude=kernel kernel-abi-whitelists kernel-debug kernel-debug-devel kernel-devel kernel-doc kernel-tools kernel-tools-libs kernel-tools-libs-devel linux-firmware biosdevname centos-release systemd* stunnel kexec-tools ocaml*
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-7

#released updates
[updates-rbdsr]
name=CentOS-{{ yum_releasever }} - Updates
mirrorlist=http://mirrorlist.centos.org/?release={{ yum_mirror_release }}&arch=$basearch&repo=updates&infra=$infra
#baseurl=http://mirror.centos.org/centos/{{ yum_releasever }}/updates/$basearch/
enabled=0
exclude=kernel kernel-abi-whitelists kernel-debug kernel-debug-devel kernel-devel kernel-doc kernel-tools kernel-tools-libs kernel-tools-libs-devel linux-firmware biosdevname centos-release systemd* stunnel kexec-tools ocaml*
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-7

#additional packages that may be useful
[extras-rbdsr]
name=CentOS-{{ yum_releasever }} - Extras
mirrorlist=http://mirrorlist.centos.org/?release={{ yum_mirror_release }}&arch=$basearch&repo=extras&infra=$infra
#baseurl=http://mirror.centos.org/centos/{{ yum_releasever }}/extras/$basearch/
enabled=0
exclude=ocaml*
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-7

#additional packages that extend functionality of existing packages
[centosplus-rbdsr]
name=CentOS-{{ yum_releasever }} - Plus
mirrorlist=http://mirrorlist.centos.org/?release={{ yum_mirror_release }}&arch=$basearch&repo=centosplus&infra=$infra
#baseurl=http://mirror.centos.org/centos/{{ yum_releasever }}/centosplus/$basearch/
gpgcheck=1
enabled=0
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-7